[Unit]
Description=Raspberry Pi Temperature Monitor Script

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple

ExecStart=/usr/bin/python3 /home/pi/pitemp/driver.py > /home/pi/pitemp/log
Restart=on-failure
RestartSec=10

KillMode=process

ExecStop= /bin/kill -2 $MAINPID 

[Install]
WantedBy=multi-user.target
